---
permalink: /404.html
layout: default
---

<section class="not-found">
  <p class="not-found__eyebrow">404</p>
  <h1 class="not-found__title">We couldn't find that page.</h1>
  <p class="not-found__lede">The link may be broken or the article may have moved. Try the search, or browse the latest below.</p>

  <p class="not-found__actions">
    <a href="{{ '/' | relative_url }}" class="not-found__home-link">← Back to home</a>
  </p>
</section>

{%- assign latest = site.articles | sort: "date" | reverse | slice: 0, 5 -%}
{% if latest.size > 0 %}
  <h2 class="not-found__heading">Latest articles</h2>
  <ul class="related-articles__list">
    {% for post in latest %}
      <li class="related-articles__item">
        <a class="related-articles__link" href="{{ post.url | relative_url }}">
          <span class="related-articles__title">{{ post.title | escape }}</span>
          <time class="related-articles__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
