@charset "utf-8";
// Optional: Dart Sass modules you need
@use "sass:color";

// Keep Minima imports via the old system
@import "minima/variables";
@import "minima/base";
@import "minima/layout";
@import "minima/syntax-highlighting";
@import "minima/cards-custom";



