.video-container {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin: 1.5rem 0;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 0;
}