.mc-mark {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.mc-mark__icon {
  display: block;
  height: 48px;
  width: auto;

  @include media-query($on-palm) {
    height: 38px;
  }
}
